<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}Realtor Client{% endblock title %}</title>
</head>
<body>
<div class="p-3 bg-dark">
    <h2 class="text-white">Realtor</h2>
    <h4 class="text-white">A website for real estate management</h4>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li id="nav-home" class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-home"></i></a>
        </li>
        <li id="nav-task" class="nav-item">
            <a class="nav-link" href="{% url 'odoo_connect:index' %}">Connection</a>
        </li>
        <li id="nav-dev" class="nav-item active">
            <a class="nav-link" href="{% url 'odoo_realtor:index' %}">Apartments</a>
        </li>
    </ul>
</nav>
    {% block content %}
    {% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>